include ../components/head/head

doctype html
html(lang="ru")
    +head({ "title": "Главная", "description": "Главная страница" })
        link(rel="stylesheet" href="styles/index.css")
    body.page-home