/*----------COLORS----------*/

$colorWhite: rgb(255, 255, 255);
$colorRed: rgb(209, 21, 21);
$colorGreenDark: rgb(0, 153, 174);
$colorGreenLight: rgb(0, 189, 129);
$colorPink: rgb(252, 98, 98);
$colorYellow: rgb(255, 216, 111);
$colorGrayLight: rgb(240, 240, 240);
$colorOrange: rgb(254, 180, 107);
$colorBlackTransparent: rgba(0, 0, 0, 0.4);

/*----------SCREEN SIZES----------*/
$tablet-small: 650px;
$tablet-medium: 729px;
$desktop-small: 1023px;
$desktop: 1350px;

/*----------THEMES----------*/
