@import 'helpers/postcss-reset/mobile.css';
@import '../components/header/index.scss';
@import '../components/cards/index.scss';
@import '../components/variables.scss';

/*----------BASIC----------*/
.wrapper-container {
  padding: 40px;
  margin: 0 auto;
  @media (max-width: $tablet-medium) {
    padding: 20px;
  }
}

/*----------CONTENT PAGES----------*/
.button {
  margin: 20px auto 0;
  padding: 20px;
  color: $colorWhite;
  border: 1px solid $colorYellow;
  outline: none;
  cursor: pointer;
}

.play .game-button {
  display: flex;
}

.game-button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 650px;
  font-size: 24px;
  border-radius: 5px;
  background: linear-gradient(40deg, $colorYellow, $colorPink);
}

.train .repeat-button {
  display: none;
}

.play .repeat-button {
  display: flex;
  width: 65px;
  height: 65px;
  font-size: 0;
  border-radius: 50%;
  background-image: url('../img/icons/repeat.svg'), linear-gradient(40deg, $colorYellow, $colorPink);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40px, cover;
}

/*----------STARS----------*/
.raiting-stars {
  height: 40px;
  margin-top: 20px;
  @media (min-width: $tablet-small) {
    max-width: 650px;
    margin: 20px auto 0;
  }
  @media (min-width: $desktop-small) {
    max-width: 1000px;
  }
  @media (min-width: $desktop) {
    max-width: 1440px;
  }
}

.train .raiting-stars {
  opacity: 0;
}

.play .raiting-stars {
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
  opacity: 1;
}

.star {
  display: inline-block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-size: cover;

  &.success {
    background-image: url('../img/icons/star-win.svg');
  }

  &.error {
    background-image: url('../img/icons/star.svg');
  }
}

/*---------- RESULTS ----------*/
.results .toggle-button-container {
  display: none;
}

.result-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > p {
    font-size: 20px;
    color: $colorRed;
  }

  & > img {
    max-width: 100%;
  }
}
